@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="chart_div"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(function () {
            google.charts.load("current", { packages: ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                $.ajax({
                    url: "@Url.Action("GetAllOrderData", "Report")",
                    method: "get",
                    dataType: "json"
                    /*
                     * 1) kategori satış grafiği
                     * 2) kategori bazli aylık satış grafiği
                     *
                     *
                     */

                }).done(function (e) {
                    
                    var data = new google.visualization.DataTable();
                    data.addColumn('string','CategoryName');
                    
                    data.addColumn('number', 'Total');
                    $.each(e, function (key, value) {
                        data.addRow([value.Category,value.Total]);
                    });
                    
                    //var view = new google.visualization.DataView(data);
                    var options = {
                        title: "Orders by Categories",
                        width: 600,
                        height: 400,
                        bar: { groupWidth: "95%" },
                        //legend: { position: "none" },
                        pieHole: 0.4,
                    };
                    var chart = new google.visualization.PieChart(document.getElementById("chart_div"));
                    chart.draw(data, options);
                });

            }
        });
    </script>
}