
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1>BALKAN ESANF LOKANTASI</h1>

<h2>İlk tema giydirme işlemimiz vatana millete hayırlı olsun</h2>

<img width="33%" height="33%" src="http://www.ugurlulezzetler.com/content/tarifler/1403/245818285_vROkpc1xLCAzG5JD59UebzTN5d8RRdhcIl6pnFrHSpFNs.jpg" />