@using System.Web.Caching
@model List<Product>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var current = Model[i];
            <tr>
                <th>@(i + 1)</th>
                <td>@current.ProductName</td>
                <td><img src="data:image/png;base64,@Convert.ToBase64String(Model[i].Image)/" + ; style="width: 50px; height: 50px" alt="@current.ProductName" /></td>
            </tr>
        }
    </tbody>
</table>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}